/*****************parametre generaux**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/******************nav**************************************/
nav {
  margin: 0 auto;
}
nav a {
  color: black;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 8px auto;
}
nav li {
  padding: 10px;
}
.svg {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: none;
}
.gb_Ae {
  height: 35px;
  width: 35px;
  padding: 5px;
}
.gb_Ae:hover {
  border-radius: 50%;
  background: rgb(214, 212, 212);
}

.connexions {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  background: #1a73e8;
  color: white;
  border: none;
  font-size: 1rem;
}
.connexions a {
  color: white;
}

/*********************main********************************/
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}
.main .form-groupe {
  display: flex;
  flex-direction: column;
  width: 40%; /*mettre une largeur defaut pour linput*/
}
.main input {
  margin-top: 20px;
  padding: 15px;
  border-radius: 50px;
  border: 1px solid #d1d1d1d1;
  width: 100%;
}
input:hover {
  -webkit-box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 4px 20px 0px rgba(0, 0, 0, 0.75);
}
input:focus {
  outline: none;
}

.main button {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.main button:hover {
  border: 1px solid rgb(209, 209, 209);
}

.main-text {
  background: white;
}
/******************************** section-infos****************************** */
.infos {
  background: rgb(242, 242, 242);
  margin-top: 175px;
}

.pays {
  padding: 8px;
  color: #797f8c;
}
.line {
  border: 0.5px solid rgb(231, 231, 231);
}

/**********************footer*************************/
footer {
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  padding: 15px;
}
footer a {
  color: #797f8c;
}
.text {
  margin: 0px auto;
}
.infos-google {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.footer-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.footer-left ul {
  display: flex;
  align-items: center;
  padding: 10px;
}
.footer-left li {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.footer-right ul {
  display: flex;
}
.footer-right li {
  margin: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
